div{
  display: flex;
  
  align-items: center;
  justify-content: center;
  position: relative;
}


label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: none;
  align-items: center;
  gap: 20px;
}
