*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
h2{
  text-align: center;
}
table{
  border-collapse: collapse;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 2px;
  color: black;
}
tr,td, th{
  border: 1px solid rgb(77, 77, 77);
  padding: 7px;
}

tr:nth-child(odd){
  background-color: rgb(180, 204, 187)
}
tbody{
  background-color: rgb(147, 173, 151)
}
tr:hover{
  background-color: rgb(219, 219, 219)
}


th{
  background-color: rgb(53, 90, 55);
}
thead{
  color: aliceblue;
  border: 2px solid rgb(77, 77, 77);
}
label{
  color: white;
}
body{
  background-color: black;
}
div{
  color: wheat;
}
p{
  text-align: center;
}
.footer{
  width: 800px;
  display: flex;
  align-items: center;
}
.footer div{
  font-size: large;
  text-decoration:solid;
  margin-left: 20px;
  margin-right: 20px;
}
 button{
  width: 150px;
  height: 40px;
  font-size: 150%;
  background-color: aliceblue;
  border: 3px solid rgb(182, 182, 182);
  margin: 10px;
  transition: all 0.2s;
}
button:hover{
  background-color: rgb(182, 182, 182);
}
.filter{
  font-size: medium;
  display: flex;
  padding: 5px;
  gap: 6px;
}
.filter input{
  height: 20px;
}
.abs{
  position: absolute;
  left: 45%;
  top: 45%;
  color: rgb(0, 0, 0);
  font-size: 300%;
}