.hidden {
  display: none !important;
}

.active {
  color: green;
  background-color: red;
}

.passive {
  color: black;
  background-color: #f0f0f0;
}

nav span button {
  border: none;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s all;
}

nav span button:hover {
  background-color: ghostwhite;
}
