REACT_APP_HOSTAPI="localhost"
REACT_APP_PORTAPI="5012"
REACT_APP_swaggerDataPath='/Ksef_API_ASP.Net/swagger.json'
REACT_APP_PROJCETPATH='C:/internship2026/Kamil/SkryptyC#/Ksef_API_ASP.Net'
REACT_APP_DestinationInterfacePath='/frontend/src/Models/API'
REACT_APP_DestinationApiePath='/frontend/src/API'